@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans|Roboto');
.divider{
	margin-bottom:	40px;
	margin-top:		0px;
	padding-left:	30px;
	padding-top:	15px;
	padding-bottom:	15px;
	color: #FFFFFF;
	background-color: #333333;
	border-width:5px;
	border-left-width:0px;
	border-right-width:0px;
	border-color:#444444;
	border-style:solid;
}
div[name="main-content"]{
	max-width:850px;
}
.centered-div{
	margin:auto;
	text-align:center;	
}
.column{
	width:380px;
	display:inline-block;
	padding:10px;
	vertical-align:top;
	
}
.section{
	display:inline-block;
	margin-bottom:30px;
	padding:20px;
	padding-top:10px;
	color: #FFFFFF;
	background-color: #333333;
	border-width:5px;
	border-color:#444444;
	border-style:solid;
	text-align:left;
}
.section img{
	width:100%;
}
.img-frame{
	padding:0px;
}
strong{
	color:#00FFFF;
}
.indented{
	margin:0px;
	padding-left:15px;
}
.section span:first-of-type{
	/*Main section header*/
	font-size:30px;
	color:#00FFFF;
}
.divider span:first-of-type{
	/*Main section header*/
	font-size:30px;
	color:#00FFFF;
}
body{
	font-family: "Open Sans",Roboto, sans-serif;
	margin:0px;
}
.image-container{
	height:		fit-content;
	overflow:	hidden;
	max-height: 500px;
}
.image-container img{
	width:		100%;
	height:		auto;
}
#header{
	display:inline-block;
	font-family: Muli, Roboto, sans-serif;
	position: relative;
	padding-left:	30px;
	vertical-align:bottom;
	height: 0px;
	color:	#00FFFF;
}
#header span{
	font-size: 	50px;
	font-weight:bold;
}
.spacer{
	height:150px;
}
.contact-mark{
	margin-top:10px;
	margin-right:20px;
	height:30px;
	width:30px;
}