@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.section{
	margin-bottom:	20px;
	margin-top:		20px;
	padding-left:	30px;
	padding-top:	15px;
	padding-bottom:	15px;
	background-color: #00FFFF;
}
body{
	margin:0px;
}
.spacer{
	height:300px;
}
.image-container{
	height:		600px;
	overflow:	hidden;
	
}
.image-container img{
	width:		100%;
	height:		auto;
	position:	absolute;
	bottom:		0px;
	right:		0px;
}
#header{
	font-family: 'Roboto Slab', Roboto, sans-serif;
	position: absolute;
	bottom:	0px;
	left:	30px;
	color:	#00FFFF;
	padding-bottom: 30px;
}
#header span{
	font-size: 	50px;
	font-weight:bold;
}